<% if logged_in? %>
  <div class="jumbotron">
  <div class="text-center"><h1>Planning Tips</h1></div>
    <div class="col-md">
        <%= render 'shared/micropost_form' %>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
<div class="col-md">
  <div class="text-center"><br><br><br><br><br><br>
  <%= image_tag("divitia.png") %><br>
  <%= link_to "Log In", login_path, class: "btn-lg btn btn-primary" %> 
	<%= link_to "Sign Up", signup_path, class: "btn-lg btn btn-primary" %>
</div>
</div>
<% end %>

