<div class="jumbotron">
<% provide(:title, "Edit User") %>
<h1>Update Profile</h1>

<div class="col-md">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :avatar, "Avatar" %>
      <%= f.file_field :avatar %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Save Changes", class: "btn btn-primary" %><br><br>

      <h2>We would love to keep you as a user. If you would like to delete your account, please email <a href="mailto:AlanMichaelRhode@gmail.com?Subject=Delete My Account" target="_top">Divitia</a> and let us know why.</h2>

    <% end %>

  </div>
</div>
</div>