<% provide(:title, @user.name) %>
<div class="jumbotron">
<div class="text-center">
<h1><%= @user.name %>'s Profile</h1></div>
  <aside class="col-md">
    <div class="text-center">
    <section class="user_info">
      <%= render 'follow_form' if logged_in? %><br><br>
      <%= image_tag @user.avatar.url(:medium) %>
      <h3>I have shared <%= @user.microposts.count %> planning tip(s)!</h3>
      <%= render 'shared/stats' %>
    </section>
    </div>
  </aside>
<div class="col-md">
  <div class="text-center">
    <% if @user.microposts.any? %>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
</div>