<p id="notice"><%= notice %></p>
<div class= "jumbotron">
  <h1>Balance Sheet</h1>

  <div class= "col-md-6">
  <div class= "total_budget">
    <h2 class="budget">Assets</h2>
      <% @assets.each do |asset| %>
          <h2><%= asset.name %><br><br>
          $ <%= asset.value %></h2>
      <% end %>
  </div>
  </div>
    <div class="col-md-6">
    <div class= "total_budget">
    <h2 class="budget">Liabilities</h2>
      <% @liabilities.each do |liability| %>
         <h2><%= liability.name %><br><br>
          $<%= liability.value %></h2>
      <% end %>
  </div>
  </div>
</div>
