<p id="notice"><%= notice %></p>

<div class= "jumbotron">
  <h1>Monthly Expenses</h1>

<div class= "text-center">
  <h2 class= "btn btn-default"><%= link_to 'New Expense', new_expense_path %></h2>
</div>

<div class= "container">
    <% @expenses.each do |expense| %>
       <h2><%= expense.name %> | 
        $<%= expense.value %><br><br>
        <%= link_to 'Edit', edit_expense_path(expense) %> | 
        <%= link_to 'Delete', expense, method: :delete, data: { confirm: 'Are you sure you want to delete this expense?' } %></h2>
    <% end %>
</div>

<br>

</div>
