<nav class="navbar navbar-default">
  <div class="container">
  <div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Divitia", root_path, class: "navbar-brand" %>
  </div>
    <nav>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <% if logged_in? %>
          <li><%= link_to "We Plan", users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              My Plan<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Balance Sheet", "/balance_sheets" %></li>
              <li><%= link_to "Assets", "/user_assets" %></li>
              <li><%= link_to "Liablities", "/liabilities" %></li>
              <li><%= link_to "Budget", "/budgets" %></li>
              <li><%= link_to "Incomes", "/incomes" %></li>
              <li><%= link_to "Expenses", "/expenses" %></li>
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Update Profile", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li><%= link_to "Log Out", logout_path, method: "delete" %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log In", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</nav>